.mucover{
  width: 128px;
  height: 128px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.musicbox{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}