{
  "presets": [
    "env",
    "react",
    "stage-1"
  ],
  "plugins": [
    [
      "import",
      [
        {
          "libraryName": "antd",
          "style": true
        },
        {
          "libraryName": "antd-mobile",
          "style": true
        }
      ]
    ],
    "transform-runtime",
    "transform-decorators-legacy"
  ],
  "env": {
    "development": {
      "plugins": [
        "dva-hmr"
      ]
    }
  }
}