.contain{
  background-image: url('http://images.shinemeditation.cn/image/bottom/WechatIMG124.png');
  background-size: cover; 
  background-repeat: no-repeat;
}

.shares{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}