<ion-header>
</ion-header>
<ion-content>
  <div class="search">
    <div class="cotainer">
      <div class="distop">
        <p></p>
        <p style="color:#c2c2c2;">Discover</p>
        <p style="color:#c2c2c2;cursor: pointer;" (click)="goback()">x</p>
      </div>
      <div class="midslid">
        <p style="color:#c2c2c2;margin:0px;margin-bottom: 10px;">News</p>
        <ion-slides>
          <ion-slide *ngFor="let item of array;">
            <img src='{{item}}' style="width:100%;" />
          </ion-slide>
        </ion-slides>
      </div>
        <div class="listbottom">
          <div *ngFor="let item of news;" class="list">
            <p style="margin:0px;">{{item}}</p>
          </div>
        </div>
    </div>
  </div>
</ion-content>