<ion-header>
  <ion-toolbar>
    <ion-title>
      新冥想
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>
  <ion-card class="welcome-card">
    <ion-img src="http://images.shinemeditation.cn/WechatIMG116%201.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>新冥想</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <h5 style="margin-left: 16px;">白噪声</h5>
  <div class="noise-content">
    <ion-card *ngFor="let item of noise" class="noise">
      <ion-img src="{{item.image}}"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
  <h5 style="margin-left: 16px;">音乐</h5>
  <div class="noise-content" style="margin-bottom:32px;">
    <ion-card *ngFor="let item of noise" class="noise">
      <ion-img src="{{item.image}}"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>