.bottomInfo {
  width: 68.25%;
  margin: 38px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  >div {
    width: 30%;
    &:nth-child(2) {
      height: 72px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 40%;
      text-align: center;
      >div {
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }
    }
    &:last-child {
      height: 72px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    >div {
      width: 100%;
      font-size: 12px;
      color: white;
      font-weight: 100;
    }
  }
}

.address{
  position: absolute;
  top: 52%;
  left: 17.8%;
  color: white;
  font-size: 10px;
  width: 65%;
}


.nav{
  position: absolute;
  color: white;
  left: 16.8%;
  top: 3.2%;
  font-size: 22px;
  font-weight: 300;
}

.linkto{
  font-size: 15px;
  text-align: right;
  cursor: pointer;
}

.weike{
  background: white;
  color: #565656;
  padding: 1px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 7px;
}

.weike:hover{
  background:#ababab;
}

.linktop:hover{
  color:white !important;
}
