.container {
  width: 68.25%;
  margin: 0 auto;
  padding: 0 1.25%;
  background: #fff;
  box-sizing: border-box;
}

:global(.ant-modal-close-x) {
  color: white;
}

.header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: #fff;
  text-align: center;
  img {
    margin: 14px 0px;
    height: 60px;
    animation: logo-spin infinite 20s linear;
  }
  h1 {
    font-size: 1.5em;
  }
}

.intro {
  text-align: center;
  font-size: large;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-modal,
.picture-modal {
  :global(.ant-modal-content) {
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
  }
  :global(.ant-modal-body) {
    padding: 0;
  }
}