.Product{
  display: flex;
  justify-content: space-between;
}

.left{
  width: 50%;
}

.right{
  width: 46%;
}

.color{
  border-radius: 50%;
  margin-bottom: 8px;
  width: 100%;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.colors{
}

.imagecard{
  height: 24%;
  width: 26%;
  margin-right: 0.5%
}

.crads{
  display: flex;
  justify-content: flex-start;
}

.list{
  font-size: 10px;
  width: 15%;
  cursor: pointer;
}

.bottomdes{
  height: 200px;
  width: 100%;
}

.shareimage{
  display: flex;
  justify-content: center;
  align-items: center;
}