@font-face {
  font-family: 'iconfont';  /* project id 1074594 */
  src: url('//at.alicdn.com/t/font_1074594_jaraka6sxp.eot');
  src: url('//at.alicdn.com/t/font_1074594_jaraka6sxp.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1074594_jaraka6sxp.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1074594_jaraka6sxp.woff') format('woff'),
  url('//at.alicdn.com/t/font_1074594_jaraka6sxp.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1074594_jaraka6sxp.svg#iconfont') format('svg');
}


.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


