.header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: #fff;
  text-align: center;
  img {
    margin: 14px 0px;
    height: 60px;
    animation: logo-spin infinite 20s linear;
  }
  h1 {
    font-size: 1.5em;
  }
}

.intro {
  text-align: center;
  font-size: large;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-modal {
  color: red;
  :global(.ant-modal-body) {
    padding: 0;
  }
}